body{
    width:100%;
   overflow-x: hidden;
}
.navbar-nav
{
    margin-bottom: 20px;
    margin-left:100px;
    padding-top: 20px;
   
}
.navbar
{
    background-color: rgb(144, 47, 63);
}
.about
{
    color: rgb(78, 13, 78);
    margin-top: 30px;
    margin-bottom: 30px;
    font-style: italic;
   
    font-weight: bolder;
}
.top-logo
{
    width: 200px;
}
.foot
{
    background-color: rgb(9, 7, 14);
    height: 300px;
    
}
.nav-link
{
    font-weight: bolder;
    color: white;
    font-style: italic;
}

.card-deck
{
padding-bottom: 10px;
}
.about1
{
    margin-bottom: 30px;
    margin-top: 50px;
    font-style: italic;
    font-weight: bolder;
    color: rgb(78, 13, 78);
}
.dropup
{
   margin-left: 500px;
   margin-bottom: 50px;
   width: 300px;
   margin-top: 50px;
  
  
}
/* default full-width cells */
.carousel-cell {
    width: 100%;
    height: 420px;
    margin-right: 5px;
    background: whitesmoke;
    counter-increment: gallery-cell;
    border-radius: 5px;
  }
  
  @media screen and ( min-width: 768px ) {
    /* half-width cells for larger devices */
    .carousel-cell { width: 50%; }
  }
  .example__demo
  {
      margin-top: 50px;
  }
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
  }
  
  .design:hover .image {
    opacity: 0.3;
  }
  
  .design:hover .middle {
    opacity: 1;
  }
  
  .text {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }

  .hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
  }
  
  .hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.6);
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translate(460px, -100px) rotate(180deg);
    -ms-transform: translate(460px, -100px) rotate(180deg);
    transform: translate(460px, -100px) rotate(180deg);
    -webkit-transition: all 0.2s 0.4s ease-in-out;
    transition: all 0.2s 0.4s ease-in-out;
  }
  
  .hovereffect img {
    display: block;
    position: relative;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }
  
  .hovereffect h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
  }
  
  .hovereffect a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #fff;
    margin: 50px 0 0 0;
    background-color: transparent;
    -webkit-transform: translateY(-200px);
    -ms-transform: translateY(-200px);
    transform: translateY(-200px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  
  .hovereffect a.info:hover {
    box-shadow: 0 0 5px #fff;
  }
  
  .hovereffect:hover .overlay {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  
  .hovereffect:hover h2 {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
  }
  
  .hovereffect:hover a.info {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }
  
/**
  .zoom {      
    -webkit-transition: all 0.35s ease-in-out;    
    -moz-transition: all 0.35s ease-in-out;    
    transition: 0.25s ease;     
    cursor: -webkit-zoom-in;      
    cursor: -moz-zoom-in;      
    cursor: zoom-in;  
    cursor: zoom-out;
    cursor: -webkit-zoom-out;      
    cursor: -moz-zoom-out;
   
    }     
    .zoom:hover,  
    .zoom:active,
    .zoom:focus {
    /**adjust scale to desired size, 
    add browser prefixes
    -ms-transform: scale(2.5);    
    -moz-transform: scale(2.5);  
    -webkit-transform: scale(2.5);  
    -o-transform: scale(2.5);  
    transform: scale(2.5);    
    position: relative;      
    z-index:100; 
    
  
    
    }
    
    /**To keep upscaled images visible on mobile, 
    increase left & right margins a bit 
    @media only screen and (max-width: 768px) {   
        
    
}
**/